.hero-container{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 50px;;
}

.hero-text > h2{
    font-size: 48px;
    font-weight: 700;
}

.hero-text > button {
    padding: 20px 50px;
    background-color: transparent;
    border: 1px solid;
    font-size: 16px;
    margin-top: 50px;
    transition: 0.3s ease-in-out;
}

.hero-text > button:hover {
    background-color: black;
    color: #fff;
}

.hero-text > h6 {
    font-size: 16px;
    font-weight: 600;
}

.hero-text > p {
    font-size: 18px;
    font-weight: 400;
}

.hero-text{
    height: 400px;
}

.hero-right{
    flex-direction: row-reverse;
}
